body {
    background: #181818;
}

.navbar-dark {
    background: #000 !important;
}

.btn-primary {
    background: #f40612 !important;
    border-color: #000 !important;
    color: #fff;
    font-weight: bold;
}
